[build]
builder = "nixpacks"

[phases.setup]
nixPkgs = ["...", "pango", "gobject-introspection", "libglib", "harfbuzz", "fontconfig"]
aptPkgs = ["libgobject-2.0-0", "libpango-1.0-0", "libpangocairo-1.0-0", "libharfbuzz0b", "shared-mime-info"]
