[build]
builder = "nixpacks"

[phases.setup]
aptPkgs = [
  "libpango-1.0-0",
  "libpangocairo-1.0-0",
  "libgdk-pixbuf2.0-0",
  "libglib2.0-0",
  "libgobject-2.0-0",
  "shared-mime-info",
  "libffi-dev"
]
