[build]
builder = "nixpacks"

[phases.setup]
aptPkgs = [
  "libpango-1.0-0",
  "libpangocairo-1.0-0",
  "libgdk-pixbuf2.0-0",
  "libglib2.0-0",
  "libgobject-2.0-0",
  "shared-mime-info",
  "libffi-dev",
  "libcairo2",
  "libpixman-1-0",
  "libgirepository1.0-dev",
  "pango1.0-tools",
  "python3-dev",
  "build-essential",
  "fontconfig",
  "libharfbuzz0b"
]

[phases.install]
cmds = ["python -m venv .venv", ". .venv/bin/activate && pip install -r requirements.txt"]

[variables]
PYTHONUNBUFFERED = "1"
LD_LIBRARY_PATH = "/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu:/usr/lib"
GOBJECT_INTROSPECTION_LIBDIR = "/usr/lib/x86_64-linux-gnu"
