[build]
builder = "nixpacks"

[phases.setup]
nixPkgs = ["...", "pango", "gobject-introspection", "libglib", "harfbuzz", "fontconfig", "cairo"]
aptPkgs = [
  "libpango-1.0-0",
  "libpangocairo-1.0-0",
  "libgdk-pixbuf2.0-0",
  "libglib2.0-0",
  "libgobject-2.0-0",
  "shared-mime-info",
  "libffi-dev",
  "libcairo2",
  "libpixman-1-0",
  "libgirepository1.0-dev"
]
