arabic-reshaper
bcrypt
beautifulsoup4
flask
flask-cors
flask-jwt-extended
flask-sqlalchemy
flask-wtf
langchain
langchain-community
langchain-ollama
markdown
openai
openpyxl
psycopg2-binary
pypdf2
python-bidi
python-docx
python-dotenv
reportlab
sqlalchemy
stripe
werkzeug
gunicorn
weasyprint
